body,
#loadingBTN,
#errorDiv,
#redirectingBTN,
#booleanTypeQuestion {
  display: none;
}

.pointer {
  cursor: pointer;
}

.dashboard-card-title {
  font-size: 1em;
}

.dashboard-card-value {
  font-family: fantasy, sans-serif;
  font-size: 3em;
}
